<!DOCTYPE html>
<html>
  <head>
    <title>Intro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!--항상 이 페이지가 불려오고, 각각의 페이지에서 정해놓은 내용이 yield에 들어가는 것-->
  </body>
</html>
